<!-- ******************************* inicio de ingreso de productos ****************************************-->
<m-portlet>
    <ng-container mPortletHeadTitle>
        <div class="row m-form">
            <div class="col-md-12 m--margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Código de fabricante" #searchInput/>
                    <mat-error *ngIf="noExisteProducto">
                        <strong>No existe este producto</strong>
                    </mat-error>
                    <mat-hint align="start">Ingrese el
                        <strong>código de fabricante</strong>
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
    </ng-container>


    <ng-container mPortletBody>
        <div class="rojo" *ngIf="noExisteProducto">
            No existe este producto
        </div>

        <div class="m-form__section m-form__section--first">
            <div class="m-form__group">

                <br>
                <!--solo se muestra cuando hay productos-->
                <div *ngIf="ELEMENT_DATA.length>0">
                    <div mat-elevation-z8>
                        <!--prueba-->
                        <mat-table #table [dataSource]="dataSource">
                            <!-- Position Column -->
                            <ng-container matColumnDef="posicion">
                                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="descripcion">
                                <mat-header-cell *matHeaderCellDef>Producto</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.descripcion}}
                                </mat-cell>
                            </ng-container>
                            <!-- Fav Column 
                                Name Column -->
                            <ng-container matColumnDef="cantidad">
                                <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i=index;">
                                    <mat-form-field floatLabel="never">
                                        <input matInput type="number" placeholder="Cantidad" (ngModelChange)="calcularTotal($event,i,1)" [(ngModel)]="element.cantidad" required>
                                        <!-- <mat-error *ngIf="i.errors?.min">Debe ser maror a cero</mat-error>
                                        <mat-error *ngIf="i.errors?.required">Campo obligatorio</mat-error> -->
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="precio">
                                <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                                <mat-cell *matCellDef="let element;let i=index;">
                                    <mat-form-field floatLabel="never">
                                        <input matInput type="number" placeholder="Precio" (ngModelChange)="calcularTotal($event,i,2)" [(ngModel)]="element.pvp" required>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="total">
                                <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-form-field floatLabel="never">
                                        <span matSuffix>$&nbsp;</span>
                                        <input matInput type="number" placeholder="Total" name="total" [(ngModel)]="element.total" required [disabled]="true">
                                        <!-- <mat-error *ngIf="cantidad.min">Debe ser mayor a cero</mat-error>               -->
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>                         
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>
                                    Acciones
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i=index;">

                                    <button mat-icon-button color="warn" type="button" (click)="eliminar(element,i)" matTooltip="Eliminar item">
                                    <mat-icon>delete</mat-icon>
                                  </button>&nbsp;
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </div>
        </div>
        <!-- </form>-->
        <!--end::Form-->
    </ng-container>
</m-portlet>
