<!-- <div class="invoice" *ngFor="let invoice of invoiceIds; let i = index">
  <h1>Invoice Num. {{ invoice }}</h1>
  Amount: {{ (invoiceDetails[i] | async)?.amount }}
</div> -->
<div id="cabecera-botones">
<br>
  <button mat-flat-button color="primary" (click)="imprimir()">Imprimir</button>
    <button mat-flat-button color="accent" (click)="onNoClick()">Cerrar</button>

</div>

<div id="container">
    <div id="header">
        <div id="logo">
            <img src="../../../../../assets/logo_mundibox.PNG" alt="">
        </div>
        <div id="reference">
            <h3><strong>Factura</strong></h3>
            <h4>N° : {{cabeceraFactura?.idegreso}}</h4>
            <p>Fecha de facturación : {{cabeceraFactura?.fecha | date}}</p>
        </div>
    </div>

    <div id="fromto">
        <div id="from">
            <p>
                <strong>Mundibox</strong><br> Urdaneta 585 y Loja.
                <br> 75000 Ambato <br><br> Tel.: 032422301 / 0992514223 <br> Email: ventas@mundibox.com <br> Web: www.mundibox.com
            </p>
        </div>
        <div id="to">
            <p>
                <strong>Nombre</strong><br>{{cabeceraFactura?.nombres}} {{cabeceraFactura?.apellidos}}<br>
                <strong>R:U.C</strong><br> {{cabeceraFactura?.cedula}} <br>
                <strong>Dirección</strong>
                <br> {{cabeceraFactura?.direccion}}
            </p>
        </div>
    </div>

    <div id="items">
        <!-- <p>Montants exprimés en Euros</p> -->
        <table>
            <tr>
                <th>Artículo</th>
                <th>Iva</th>
                <th>P.U</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
            <tr *ngFor="let item of DETAIL_DATA">
                <td>{{item.titulo}}</td>
                <td>{{cabeceraFactura?.iva*100}} %</td>
                <td>$ {{item.preciounitario}}</td>
                <td>{{item.cantidad}}</td>
                <td>$ {{item.preciounitario * item.cantidad}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div id="summary">
        <div id="note">
            <h4>Nota :</h4>
            <p>Cálculo del total </p>
        </div>
        <div id="total">
            <table border="1">
                <tr>
                    <td>SubTotal</td>
                    <td>$ {{round(cabeceraFactura?.total- (cabeceraFactura?.total *cabeceraFactura?.iva),2) }}</td>
                </tr>
                <tr>
                    <td>Total IVA {{cabeceraFactura?.iva*100}} %</td>
                    <td>$ {{round(cabeceraFactura?.total *cabeceraFactura?.iva,2)}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$ {{cabeceraFactura?.total}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="footer">
        <p> Contacto <br> mundibox toys</p>
    </div>
</div>